

$primary: #82C033;
$secondary: #D3CDB6;
$dark: #55763A;
$black: #32312B;
$font-family-sans-serif: 'Montserrat', sans-serif !default;
$font-family-serif: 'Hind Madurai' ,serif !default; 



@import "../lib/bootstrap/scss/bootstrap.scss";
